.idea/
AAAI论文工作/
data/
原始数据/
learningResources/notes/OutOfDate/
learningResources/notes/reports/notPublic/
learningResources/notes/papers_about_NER/original_papers/
learningResources/notes/notes/~$机器学习.docx
learningResources/notes/notes/~$数学.docx
learningResources/notes/notes/~$其他.doc
learningResources/notes/notes/~$ytorch.docx
learningResources/notes/notes/~$python.docx
learningResources/OutOfDate/笔记_v18.11.doc
learningResources/OutOfDate/
learningResources/notes/
learningResources/papers_about_NER/original_papers/
learningResources/reports/notPublic/
learningResources/papers/papers_about_NER/
learningResources/papers/papers_recommend/
learningResources/papers/papers_recovery/
learningResources/papers/papers_classification/
learningResources/papers/papers_sequenceLabeling/
src/Experiment-NER/experiments/
src/Experiment-NER/correct/CGED_train_2017
src/Experiment-NER/correct/m2scorer-master.zip
src/Experiment-NER/correct/data.txt
learningResources/papers/论文梳理19.1.5.old.xls
learningResources/papers/论文梳理19.1.16.xls
2019-1-11中英词典过滤.rar
src/Experiment-NER/correct/zh-en-pair/
src/Experiment-NER/correct/NSMT/NSMT.70w.labeled.xmlformat
*.pyc
