### use # to comment out the configure item

### I/O ###

## Dataset
data_bin_dir=data/esp.data.pickle
train_dir=data/esp.train
dev_dir=data/esp.testa
test_dir=data/esp.testb
trans_dir=data/es-en.txt
word_emb_dir=data/wiki.multi.es.vec
trans_embed_dir=data/glove.6B.100d.txt

#typeinfo_dir=
#model_name=lstmcrf=
model_dir=save/
norm_word_emb=False
norm_char_emb=False
word_emb_dim=300
char_emb_dim=30
trans_emb_dim=100

#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

number_normalized=True
seg=True

###NetworkConfiguration###
use_crf=True
use_char=True
use_trans=True
#use_mapping=True
#mapping_func=tanh
word_seq_feature=LSTM
char_seq_feature=LSTM
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
nbest=1

###TrainingSetting###
status=train
state_training_name=default
save_model=False
optimizer=SGD
iteration=600
batch_size=16
ave_batch_loss=False
show_loss_per_batch=100

###Hyperparameters###
# if seed_num is None, it will rand a int
seed_num=None
cnn_layer=4
char_hidden_dim=50
trans_hidden_dim=200
hidden_dim=200
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
gpu=True
# if clip is None, it will be no clip
clip=None
